<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/base.css">
    <title>Document</title>
</head>
<body>
    <div class="main-body-container">
        <div class="information-container">
            <h1>WELCOME, <%= username%></h1>
            <% if (statistics) {%>
                <div class="statistics-container">
                    <div>
                        <p>PLAYED</p>
                        <p><%= statistics.gamesPlayed %></p>
                    </div>
                    <div>
                        <p>WON</p>
                        <p><%= statistics.gamesWon %></p>
                    </div>
                    <div>
                        <p>LOST</p>
                        <p><%= statistics.gamesLost %></p>
                    </div>
                    <div>
                        <p>DRAWS</p>
                        <p><%= statistics.gamesDraw %></p>
                    </div>
                </div>
            <%}%>
        </div>
        <div class="enter-room-container">
            <form id="join-room-form">
                <button type="submit">Join existing room</button>
                <input name="existing-room-number" id="existing-room-number">
                <div id="error-message-container">

                </div>
            </form>
            <form id="create-room-form">
                <button type="submit">Create new room</button>
            </form>
        </div>
    </div>
    <script type="text/javascript"  src="/javascripts/home.js"></script>
<!--    <script src="/socket.io/socket.io.js"></script>-->

    <!--    <button id="start-new-game-button">START NEW GAME</button>-->
</body>
</html>